.picture {
  border-radius: 50%;
}
.info {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 852PX;
  padding: 1rem;
  background-color:white;
  margin-bottom: 0;
  color: #0F0F33;
  height: 9vh;
  border-bottom: 4px solid gray;
  overflow-x: hidden;
  position: absolute;
}

.name {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.desc {
  font-size: 14px;
  font-weight: 400;
  margin-left: 10px;
}

.infoContainer{
  margin-left: 10px;
}

button {
  justify-self: end;
  color: #282c34;
  height: 30px;
  padding: 10px;
  border: none;
  background-color: #4E4EC5;
  text-transform: uppercase;
  border-radius: 5px;
}

button span {
  color: white;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}