#private {
  margin-top: 15px;
}

.block{ 
  font-size: 12px;
  padding: 5px;
  margin: 5px  0px 5px 8px;
  text-transform: uppercase;
  background-color: darkgray;
}

button{
  display:block;
  color: white;
  font-size: 12px;
  height: 27px;
  padding: 5px;
  text-transform: uppercase;
}

input{
  border-radius: 4px;
  max-width: 400px;
  padding: 15px 0 2px 5px;
}

textarea{
  resize: none;
}

.container{
  margin: 5rem auto;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  background-color: #E5E5E5;
  justify-content: center;
  align-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > *:not(.dropContainer, .dropContainerImage){
  padding: 10px;
  border-bottom: 2px solid darkgray;
}

.title{
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
  font-size: 24px;
  color: #515EC5;
}

.tagadd{
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-left: 44px;
}

.tagList{
  display: flex;
  flex-direction: row;
}

.exit{
  color: #EE4444;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #E5E5E5;
  margin: 15px 0 0 15px;
}

.addbutton{
  margin-top: 7px;
}

.checkPrivate {
  width: 30px;
  margin: 0;
}

/* 
.dropContainer, .dropContainerImage{
  margin: 1rem auto;
  border-radius: 50%;
  cursor: pointer;
  width: 8rem;
  height: 8rem;
}

.dropContainer{
  border: 5px #ddd;
  transition: height 0.2s ease;
  background-color: #bbb;
}

.dropContainer:focus, .dropContainerImage:focus{
  outline: none
}

.newpicture{
  width: 100%;
  height: 100%;
}

.picture {
  margin:  1.5rem;
  width: 5rem;
  height: 5rem;
}
 */

 .dropContainer {
  border: 10px #ddd;
  margin: 0 auto;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: height 0.2s ease;
  width: 8rem;
  height: 8rem;
  margin-bottom: 10px;
}

.dropContainer:focus {
  outline: none
}

.picture {
  margin:  1.5rem;
  width: 5rem;
  height: 5rem;
}

.dropContainerImage {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  cursor: pointer;
  transition: height 0.2s ease;
  margin: 0 auto;
  margin-bottom: 10px;
}

.newPicture {
  width: 100%;
  height: 100%;
}
