.container {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  gap: 1rem;
  background-color:#0F0F33;
  color: #FFF;
  border-bottom: 2px solid #E5E5E5;
}

img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.name {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.status {
  font-size: 12px;
}

.infoContainer{
  margin-left: 10px;
}