ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.friends {
  overflow-y: scroll;
  max-height: 439px;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}