.loginBox {
    box-sizing: border-box;
    background: #fff;
    display: flex;
    flex-direction: column;
    min-width: 20rem;
    padding: 2rem 3rem 3rem 3rem;
    border-radius: 5px;
}

h2 {
    margin: 0 auto;
}

input, button {
    margin-left: 0.5rem; 
}

input {
    border: none;
    border-bottom: 3px solid #d9d9d9;
    padding-top: 10px;
    margin-right: 2rem;
    width: 300px;
}

input:focus {
  outline: none;
}

.title{
    margin-bottom: 1rem;
    color: #282c34;
    text-transform: uppercase;
}

.login {
    margin-bottom: 1rem;
}

.password {
    margin-bottom: 2rem;
}

button {
    color: #282c34;
    max-width: 6rem;
    padding: 10px;
    border: none;
    background-color: #4E4EC5;
    text-transform: uppercase;
    border-radius: 5px;
}

button span {
    color: white;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  button:hover span {
    padding-right: 25px;
  }
  
  button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .signupCall {
    display: flex;
    justify-content: space-between;
  }

  .signup {
    color: #6d6d6d;
    font-size: 0.9rem;
    padding-top: 5px;
    margin-right: 10px;
    text-decoration: underline;
  }

  .signup:hover {
    cursor: pointer;
  }







